body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 90px;
}

p {color: white;
  text-align: center;
  font-family: arial;
  font-size: 20px;
}

